body {
    background-color: #e0d7d7; 
}

#father {
    display: flex;
    justify-content: center;
}

#container {
    background-color: tomato;
    border:2px solid white;
    border-radius: 10px;
    height: 275px;
    width: 750px;
    text-align: center;
}

#text , #output{
    font-size: 20px;
}

input {
    margin-top: 10px;
}

#output {  
    color: white;
    margin-top: 40px;
}